body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form{
  border-collapse: collapse;
}

.form tr { 
  height: 35px;
  border-bottom: 1px solid black;
}

.form tr th{
  padding: 0 10px;
}

.form tr td{
  padding: 0 10px;
}
